@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(63, 81, 181, 1) 50%,
    rgba(236, 255, 0, 1) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
